@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme{
    --font-gfs : "GFS Didot", serif;
    --font-roboto : "Roboto", sans-serif;
}
body{
     font-family: "Montserrat", sans-serif;
}

.menu-horizontal {
    & > li:not(.menu-title) > details {
        & > ul {
            margin-inline-start: calc(0.25rem * -15);
            margin-top: calc(0.25rem * 4);
        }
    }
}

@media screen and (max-width: 576px) {
    .menu-horizontal {
    & > li:not(.menu-title) > details {
        & > ul {
            margin-inline-start: calc(0.25rem * -22);
        }
    }
}
}